/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  /* font-family: 'Newsreader', serif; */
  font-weight:500;
  background-color: #f5f5f5;
}

/* Main Content Styles */
main {
  padding: 20px;
  padding-top: 80px; /* Added padding to the top to make space for the fixed header */
  padding-bottom: 80px;
  padding-right: 20px;
  padding-left: 20px;

  /* Responsive styles */
  @media (max-width: 768px) {
    padding-top: 20px; /* Adjusted padding for small screens */
    padding-left: 0px
  }
}

h1, h2{
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
}

section {
  scroll-margin-top: 80px;
  padding-top: 5px;
}

/* Footer Styles */
footer {
  background-color: #f5f5f5;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

/* Header Styles */
header {
  background-color: #f5f5f5;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030; /* Adjust the z-index to ensure it's above the sidebar */
}

header a {
  font-size: 18px;
  background-color: #f5f5f5;
  color:#000;
  text-decoration: none;
}

/* Sidebar Styles */
#sidebar {
  background-color: #f5f5f5;
  color:#000;
  position: fixed;
  top: 66px; /* Adjusted top position to make space for the fixed header */
  bottom: 0;
  left: 0;
  z-index: 1020; /* Adjusted z-index to be below the header */
  padding-top: 16px;
  padding-bottom: 16px;
  overflow-y: auto; /* Allow the sidebar to be scrollable */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */

  /* Responsive styles */
  @media (max-width: 768px) {
    width: 100%;
    position: static;
    margin-top: 66px;
    z-index: 1040;
    height: 200px;
    /* height: 100px; */
    /* overflow-y: initial; */
  }
/* 
  @media (max-width: 768px) {
    display: none;
  } */
}

/* .hamburger-menu {
  background-color: transparent;
  border: none;
  color: #f5f5f5;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;

  @media (max-width: 768px) {
    display: block;
    color: #000;
  }
} */

#sidebar ul.nav {
  flex-column;
}

#sidebar .nav-link {
  padding-left: 5px;
}

#bio {
  font-size: 13px;
}

.contact-info {
  justify-content: flex-start; /* Justify items left */
  /* justify-content: space-around; */
  font-size: 13px;
}

@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
    align-items: left;
  }

  .contact-item {
    margin-bottom: 10px;
  }
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-item a {
  margin-right: 10px;
  margin-bottom: 10px;
}

#image-grid figcaption,
#video-grid figcaption {
  color: #000;
  font-size: 13px;
}

.social-media-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px; /* Adjust spacing as needed */
  background-color: #f5f5f5;
}

.social-media-container a {
  color: black;
  margin: 0 5px; /* Adjust spacing as needed */
}

.social-media-container a i {
  font-size: 16px; /* Adjust size as needed */
}

/* Links Styling */
a,
a:visited,
header a,
#sidebar a,
#sidebar a:visited 
.nav-link .visited,
.contact-info a, 
.contact-info a:visited {
  text-decoration: none;
  color: #000;
  background-color: #f5f5f5;
}

a:hover,
a:active,
header a:hover,
header a:active,
#sidebar a:hover,
#sidebar a.active,
.nav-link .active,
.contact-info a:hover,
.contact-info a:active {
  text-decoration: none;
  color: #B2A2CB;
  background-color: #f5f5f5;
}

